html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: gray;
    font-family: 'Roboto', sans-serif;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 80px;
    width: 100%;
    color: white;
}

header {
    height: 600px;
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/os-baroes-da-pisadinha-foto-Marcelo-Batista.jpg);
}

h2 {
    color: black;
    font-size: 40pt;
    margin: 0;
}

.projetos {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: white;
    height: 500px;
}

.musicas {
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: yellowgreen;
}

.caixa-musicas {
    justify-content: space-between;
    width: 600px;
    background-color: red;
    display: flex;
}

footer {
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 600px;
    color: white;
    background-color: black;
}

input, select, textarea {
    border: 4px solid red;
}

footer button {
    margin-top: 15px;
    background-color: transparent;
    border: 4px solid red;
    color: red;
    font-size: 15pt;
    cursor: pointer;
}

footer button:hover {
    border: 4px solid yellow;
    color: yellow;
}

.campo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

footer div form {
    display: flex;
    flex-direction: column;
}


h6 {
    margin: 0;
}